apiVersion: v1
kind: ConfigMap
metadata:
  name: omniai-config
  namespace: omniai
data:
  ENVIRONMENT: production
  DEBUG: "false"
  LOG_LEVEL: INFO
  HOST: "0.0.0.0"
  PORT: "8000"
  RATE_LIMIT_RPM: "200"
  MAX_REQUEST_BYTES: "10485760"
  VOICE_MAX_REQUEST_BYTES: "26214400"
  SESSION_COOKIE_NAME: omni_session
  SESSION_TTL_SECONDS: "604800"
  COOKIE_SECURE: "true"
  COOKIE_SAMESITE: lax
  CSRF_HEADER_NAME: X-CSRF-Token
  CSRF_COOKIE_NAME: omni_csrf
  INVITE_REQUIRED: "true"
  BOOTSTRAP_ADMIN_ENABLED: "false"
  PROVIDER_DEFAULT: lmstudio
  PROVIDERS_ENABLED: lmstudio
  PROVIDER_TIMEOUT_SECONDS: "60"
  PROVIDER_MAX_RETRIES: "3"
  SSE_PING_INTERVAL_SECONDS: "30"
  READINESS_CHECK_PROVIDERS: "false"
  LMSTUDIO_BASE_URL: "http://host.docker.internal:1234"
  OLLAMA_BASE_URL: "http://host.docker.internal:11434"
  EMBEDDINGS_ENABLED: "false"
  EMBEDDINGS_PROVIDER_PREFERENCE: openai_compat,ollama,lmstudio
  VOICE_PROVIDER_PREFERENCE: whisper,openai_compat
  VOICE_WHISPER_MODEL: base
  VOICE_WHISPER_DEVICE: cpu
  VOICE_OPENAI_AUDIO_MODEL: whisper-1
