apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: omniai-sqlite-pvc
  namespace: omniai
  labels:
    app.kubernetes.io/component: backend
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  volumeMode: Filesystem
